.hero {
  background-image: linear-gradient(
      rgba(3, 0, 48, 0.685),
      rgba(0, 0, 27, 0.733)
    ),
    url("/lake.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: 75% center;
  display: grid;
  place-items: center;
}

.heroContent {
  padding-top: 3%;
  text-align: center;
  width: 80vw;
}

.heroContent h2 {
  font-size: clamp(2em, 5em, 4.3vw);
}

.heroContent h2 span {
  color: rgb(0, 240, 160);
}

.heroContent p {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;
}

.heroSearchWrapper {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 600px;
}

.searchSuggestions {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 1;
  margin-top: -0.5em;
  padding-top: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
}

.suggestion {
  text-align: left;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  cursor: pointer;
  border-top: 1px solid rgb(201, 201, 201);
  display: block;
}

.suggestion:first-of-type {
  border-top: none;
}
.suggestion:hover h3 {
  color: rgb(0, 155, 104);
}

.suggestion h3 {
  font-size: 1rem;
  font-weight: bold;
}

.suggestion p {
  font-weight: normal;
  text-transform: none;
  font-size: 0.9rem;
}

.suggestion span {
  display: inline-block;
}

.suggestion span::first-letter {
  text-transform: uppercase;
}

.heroSearch {
  color: black;
  background-color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  margin-top: 2em;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
  outline: none;
}

.heroSearch::placeholder {
  font-family: "Inter", sans-serif;
}

.allWords {
  margin: auto;
  margin-top: 2em;
  max-width: 80vw;
}

.allWords ul {
  column-count: 3;
  column-gap: 0.5em;
  list-style-type: none;
}

.allWords li {
  text-align: center;
  padding: 0.5em 0.5em;
  font-style: italic;
  border-radius: 0.2em;
  border: 1px solid rgb(36, 36, 36);
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 1200px) {
  .allWords ul {
    height: 500vh;
  }
}

@media only screen and (max-width: 680px) {
  .allWords ul {
    height: auto;
  }
}
