.hero {
  background-image: linear-gradient(
      rgba(3, 0, 48, 0.585),
      rgba(0, 0, 27, 0.333)
    ),
    url("/lake.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: 75% center;
  display: grid;
  place-items: center;
}

.heroContent {
  padding-top: 3%;
  text-align: center;
  width: 80vw;
}

.heroContent h2 {
  font-size: clamp(2em, 5em, 4.3vw);
}

.heroContent h2 span {
  color: rgb(0, 240, 160);
}

.heroContent p {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;
}

.allWords {
  margin: auto;
  margin-top: 2em;
  max-width: 80vw;
}

.allWords ul {
  column-count: 3;
  column-gap: 0.5em;
  list-style-type: none;
}

.allWords li {
  text-align: center;
  padding: 0.5em 0.5em;
  font-style: italic;
  border-radius: 0.2em;
  border: 1px solid rgb(36, 36, 36);
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 680px) {
  .allWords ul {
    height: auto;
  }
}

.aboutWrapper {
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 750px;
  background-color: #1a1a1a;
  padding: 2em;
  border-radius: 0.3em;
  margin-bottom: 2em;
}

.smallTitle {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.7;
}

.aboutWrapper h1 {
  color: rgb(0, 240, 160);
}

.divider {
  border-top: 1px solid white;
  opacity: 0.3;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.citation {
  padding-left: 2em;
  text-indent: -2em;
  padding-top: 0.5em;
  margin-bottom: 0.75em;
  opacity: 0.7;
}

.about {
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

.about a {
  text-decoration: underline;
}
