.heroSearchWrapper {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 600px;
}

.searchSuggestions {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 1;
  margin-top: -0.5em;
  padding-top: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
}

.suggestion {
  text-align: left;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  cursor: pointer;
  border-top: 1px solid rgb(201, 201, 201);
  display: block;
}

.suggestion:first-of-type {
  border-top: none;
}
.suggestion:hover h3 {
  color: rgb(0, 155, 104);
}

.suggestion h3 {
  font-size: 1rem;
  font-weight: bold;
}

.searchSuggestions > .suggestion > p {
  font-weight: normal;
  text-transform: none;
  font-size: 0.9rem;
}

.suggestion span {
  display: inline-block;
  font-weight: normal;
  text-transform: none;
  font-size: 0.9rem;
}

.suggestion span::first-letter {
  text-transform: uppercase;
}

.suggestion svg {
  transform: translateY(0.3em);
  margin-left: 0.4em;
  background-color: #8b8b8b;
  padding: 0.25em;
  border-radius: 0.2em;
  border-bottom: 3px solid #4c4c4c;
}

.heroSearch {
  color: black;
  background-color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  margin-top: 2em;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
  outline: none;
}

.heroSearch::placeholder {
  font-family: "Inter", sans-serif;
}
